DATABASE_URL='mysql://root:@localhost:3306/testando'

GOOGLE_CLIENT_ID=1015204523033-hhk71931uimgvl14nf5jv8foedqldbup.apps.googleusercontent.com
GOOGLE_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
JWT_SECRET=d012jidn0imadpsoifn1923rnopanfsakfjsn


EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=seu-email@gmail.com
EMAIL_PASS=sua-senha-de-aplicativo

